html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.map0 {
    margin: 0;
    padding: 0;
}

a {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}